
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form style="display: flex; flex-direction: column;" action="/Cars/CreateSubmit" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label>Name</label>
        <input placeholder="Car's name" class="form-control" type="text" id="name" name="name" />
        <p id="error" style="color: red; margin-top: 5px"></p>
    </div>

    <input class="btn btn-primary" id="submit" type="submit" value="Create Car" />

</form>

<script>
    document.getElementById("submit").addEventListener("click", (e) => {
        const name = document.getElementById("name").value

        console.log(name)
        if (!name) {
            e.preventDefault()

            const error = document.getElementById("error")
            error.innerText = "You need to enter a name!"

            setTimeout(() => {
                error.innerText = ''
            }, 3000)
        }
    })
</script>
